# MacOS
.DS_Store

# IntelliJ
*.iml
.idea/*
!.idea/codeStyles/
!.idea/runConfigurations/

# Gradle
.gradle/

# Build
build/
out/

# task resources
src/main/resources/client/Place.json
src/main/resources/client/Places.json
src/main/resources/server/Places.json
